#element{
  grid-area: editor;
  margin-left: 15px;
  /*width: 79%;*/
}

#sidebar-menu{
  grid-area: sidebar;
  font-family: revert;
  font-size: 13px;
  overflow: auto;
  /*width:20%;*/
  padding-left: 12px;
  padding-top: 12px;
  background: #4e4e4e;
  color: #d9d8d8;
}

.folder-text{
  display: flex;
}
.file-text, .folder-text{
  color: #d9d8d8;
}

.file-text:hover , .folder-text:hover{
  color: #f8f8f8;
}

.folder-text span{
  margin-left: 5px;
}

.sidebar-folder-container, .sidebar-subfolder-container{
  display: flex;
}

.sidebar-subfolder-container{
  margin-top: 10px;
}

ul .sidebar-folder{
  margin-left: 20px;
}

.sidebar-subfolder{
  margin: 10px 0 10px 20px;
}

.sidebar-folder > ul > .sidebar-subfolder{
  margin: 10px 0px;
}

.sidebar-folder-container ul{
  margin:0;
  padding-left: 0;
}

.subfolder{
  margin-left: 0 !important;
}

.sidebar-subfolder .sidebar-file{
  margin-left: 20px !important;
}

.sidebar-file{
  display: flex;
  margin: 10px 0 10px 0px;
}

.sidebar-folder-container > ul > .sidebar-folder{
  margin-left: 0;
}

.sidebar-file-img, .sidebar-dir-img{
  width: 20px;
  height: 20px;
  /*margin-left: 5px;*/
}

#sidebar-menu ul li ul {
  display: none;
}

#sidebar-menu > ul{
  display: flex;
  padding-left: 10px;
  padding-top: 8px;
}

#sidebar-menu > .sidebar-folder-container{
  margin-left:10px;
  margin-top: 10px;
}

#sidebar-menu li{
  list-style: none;
}

#sidebar-menu:first-child{
  margin-top: 30px;
}

.sidebar-folder:hover{
  cursor: pointer;
}

#live-editor-form{
  display: grid;
  grid-template-areas:
        "filename filename filename"
        "sidebar editor editor";
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 2fr;
  /*margin: 20px 0px;*/
  flex-direction: row-reverse;
  position: relative;
}

.actual-file-name{
  grid-area: filename;
}

.actual-file-name span{
  margin-left: 7px;
  font-weight: bold;
  font-size: 13px;
}

.folder-text, .file-text{
  margin-left: 5px;
}

/* From uiverse.io by @nikk7007 */
#live-editor-form #edit-submit {
  position: absolute;
  bottom: 31px;
  right: 12px;
  opacity: .6;
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  min-height: 44px;
  font-size: 20px;
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

#live-editor-form #edit-submit:hover {
  background-position: right top;
  opacity: 1;
}

#live-editor-form #edit-submit:is(:focus, :focus-within,:active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  #live-editor-form #edit-submit{
    transition: linear;
  }
}

#new-element{
  display: none;
  padding: 6px 12px 6px 12px;
  font-family: revert;
  font-size: 13px;
}

#secondary-menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  font-family: sans-serif;
  font-size: 11px;
  padding: 0px;
  background: #666666;
  border: 1px solid #9f9f9f;
  z-index: 10;
}

#secondary-menu a {
  display: block;
  text-decoration: none;
  padding: 6px 12px 6px 12px;
  position: relative;
  font-family: revert;
  font-size: 13px;
  color: #d9d8d8;
}

#secondary-menu a:hover {
  background: #777777;
}

#secondary-menu hr {
  border-bottom: 0;
}

/* The Modal*/
#confirmation-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
  border-radius: 5px;
  z-index: 4;
}

.modal-content p{
  padding-right: 100px;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-actions{
  display: flex;
}

.modal-actions input{
  padding: 5px 20px;
  border: 1px solid #919191;
  border-radius: 3px;
  color: white;
}

.modal-accept{
  margin-right: 15px;
  background-color: #0094f0;
}

.modal-cancel{
  background-color: #fe3b3b;
}

.modal-accept:hover{
  margin-right: 15px;
  background-color: #007fcb;
}

.modal-cancel:hover{
  background-color: #c82121;
}
