
<div id="sidebar-menu">

  {% for key, item in menu_tree %}
    <div id="sidebar-folder-container" class="sidebar-folder-container">
      <img src='/modules/custom/live_editor/images/folder.svg' class='sidebar-dir-img'/>
      <ul>
        <li class="sidebar-folder">
          <span class="folder-text">{{ key }}</span>
          <ul>{{ item|raw }}</ul>
        </li>
      </ul>
    </div>
  {% endfor %}

</div>
